langchain 
langchain-community 
langchain-ollama 
langchain-experimental
langchain-text-splitters
neo4j
tiktoken 
yfiles_jupyter_graphs 
python-dotenv 
json-repair 
langchain-openai 
langchain_core
chromadb